            </div>
        </div>
    </div>

    <hr>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <ul class="list-inline text-center">
                    </ul>
<p class="copyright text-muted">&copy; 2020-2022 Cornelius Buschka &#x2022; All rights reserved.<br><br><a href="/imprint.html">Imprint</a> &#x2022; <a href="/privacy_policy.html">Privacy Policy</a><br><br><small>Version: __VERSION_INFO__</small></p>
                </div>
            </div>
        </div>
    </footer>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/clean-blog.min.js"></script>
</body>
</html>
